*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#edf2f7;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:300px;
    min-width:300px;
    background:#0096e6;
    color:white;

    position:fixed;
    top:0;
    left:0;

    height:100vh;

    display:flex;
    flex-direction:column;
}

.contenido{
    flex:1;
    padding:25px;

    margin-left:300px;
    width:calc(100% - 300px);
}
.perfil img{
    width:90px;
    height:90px;
    object-fit:contain;
    border-radius:50%;
    background:white;
    padding:5px;
    margin:auto;
    display:block;
}
.perfil{
    text-align:center;
    padding:30px;
}
.sidebar ul{
    list-style:none;
    flex:1;
    overflow-y:auto;
}

body{
    background:#edf2f7;
    overflow-x:hidden;
}

.sidebar li{
    padding:18px 25px;
    cursor:pointer;
    transition:.3s;
}

.sidebar li:hover,
.sidebar .active{
    background:#0079c9;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

header p{
    color:gray;
}

header input{
    width:320px;
    padding:12px;
    border:none;
    border-radius:20px;
    background:#dfe7ed;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card-info{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,.1);
}

.card-info h3{
    color:#666;
}

.card-info span{
    font-size:38px;
    font-weight:bold;
    color:#0096e6;
}

.grafico{
    margin-top:25px;
    background:white;
    border-radius:10px;
    padding:20px;
}

.bars{
    height:250px;
    display:flex;
    align-items:flex-end;
    gap:15px;
    margin-top:20px;
}

.bars div{
    flex:1;
    background:#0096e6;
    border-radius:5px 5px 0 0;
}

.bottom{
    margin-top:25px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.inventario,
.noticias{
    background:white;
    border-radius:10px;
    padding:20px;
}

.inventario h2,
.noticias h2{
    margin-bottom:15px;
}

.inventario li{
    margin-bottom:10px;
}

.news-card{
    background:#e6ebef;
    padding:12px;
    border-radius:6px;
    margin-bottom:10px;
}

.btnSalir{
    width:90%;
    margin:20px auto;
    padding:12px;
    background:#e53935;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    display:block;
}

.btnSalir:hover{
    background:#c62828;
}