*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* HEADER */

.topbar{
    width:100%;
    padding:15px 8%;
    background:transparent;
    color:white;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
}
.logo-section{
    position:relative;
    display:flex;
    align-items:center;
}

.logo-section img{
    width:70px;
}

.titulo-header{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
}

.titulo-header h1{
    white-space: nowrap;
}

/* NAV */
.main-nav{
    width:100%;
    display:flex;
    justify-content:center;
    padding:12px 0;
    background:transparent;
    position:absolute;
    top:75px; /* ajustaremos este valor */
    left:0;
    z-index:1000;
    align-items: center;
}
nav{
    display:flex;
    gap:25px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:50px;
    margin:0;
    padding:0;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.nav-links a {
    color: #ffffff; /* Cámbialo al color de texto de tu barra (ej: blanco) */
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    display: block;
    transition: all 0.3s ease;
}
nav a:hover{
    color:#d9f4ff;
}

/* DROPDOWN (Desplegable) */
.dropdown {
    position: relative; /* Clave para que el submenú se posicione justo debajo */
}
/* Caja oculta del submenú */
.dropdown-menu {
    position: absolute;
    top: 100%; /* Se posiciona exactamente debajo del enlace principal */
    left: 0;
    background-color: #ffffff; /* Fondo blanco para que contraste con las letras oscuras */
    min-width: 220px; /* Ancho para que los textos no se amontonen */
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); /* Sombra elegante para darle volumen */
    
    /* El truco de magia: empieza oculto y un poquito desplazado hacia abajo */
    display: none;
    z-index: 999;
}

/* Estilos de los enlaces de ADENTRO del submenú */
.dropdown-menu a {
    color: #1e293b !important; /* Texto gris oscuro/negro para que se lea sobre el fondo blanco */
    padding: 12px 20px;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}

/* Hover de los enlaces internos */
.dropdown-menu a:hover {
    background-color: #f1f5f9; /* Color gris bajito cuando pasas el mouse por encima */
    color: #0284c7 !important; /* Cambia a celeste o azul institucional */
}

/* ACCIÓN: Cuando pasas el mouse por la pestaña, el submenú se muestra */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* HERO */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* VIDEO */

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* CAPA OSCURA */

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}

/* CONTENIDO */

.hero-content{
    position: relative;
    z-index: 2;
    color: white;

    padding: 20px;
}

.hero-content h2{
    font-size: 70px;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 28px;
    margin-bottom: 30px;
}

.hero-content button{
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    background: #009dff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover{
    background: #007acc;
}

/* INFO */

.info{
    padding:70px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    text-align:center;
}

.card h3{
    color:#0086c7;
    margin-bottom:15px;
}

/* NEWS */

.news{
    padding:60px 8%;
}

.news h2{
    text-align:center;
    margin-bottom:40px;
    color:#0086c7;
    font-size:40px;
}

.news-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.news-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.news-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.news-card h3{
    padding:20px;
    color:#0086c7;
}

.news-card p{
    padding:0 20px 20px;
}

/* ========================= */
/* SERVICIOS */
/* ========================= */

.servicios{
    padding:80px 20px;
    background:white;
    text-align:center;
}

.servicios h2{
    font-size:42px;
    color:#0077b6;
    margin-bottom:50px;
}

.servicios-carousel{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-bottom:40px;
}

.servicios-track{
    position:relative;
    width:800px;
    height:260px;
}

.servicio-card{
    position:absolute;
    top:50%;
    left:50%;
    width:180px;
    height:220px;
    transform:
    translate(-50%, -50%)
    scale(0.7);
    opacity:0;
    transition:0.6s;

}

.servicio-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.servicio-card.active{
    opacity:1;
    z-index:5;
    transform:
    translate(-50%, -50%)
    scale(1);
}

.servicio-card.prev{
    opacity:0.7;
    z-index:4;
    transform:
    translate(95%, -50%)
    scale(0.85);
}

.servicio-card.next{
    opacity:0.7;
    z-index:4;
    transform:
    translate(25%, -50%)
    scale(0.85);

}

.servicio-card.prev2{
    opacity:0.4;
    z-index:3;
    transform:
    translate(-165%, -50%)
    scale(0.7);
}

.servicio-card.next2{
    opacity:0.4;
    z-index:3;
    transform:
    translate(65%, -50%)
    scale(0.7);
}

.servicio-btn{
    width:50px;
    height:50px;
    border:none;

    border-radius:50%;
    background:#0077b6;
    color:white;
    font-size:22px;
    cursor:pointer;
}

.servicio-info{
    max-width:700px;
    margin:auto;
}

.servicio-info h3{
    color:#0077b6;
    margin-bottom:15px;
    font-size:30px;
}

.servicio-info p{
    color:#555;
    line-height:1.8;
    font-size:18px;
}

.servicio-info{
    max-width:700px;
    margin:auto;
    transition:0.4s;
}

.fade{
    opacity:0;
    transform:translateY(10px);
}

/* ========================= */
/* FOOTER */
/* ========================= */

.footer{
    background:#005b8f;
    color:white;
    padding:50px 8% 20px;
}

.footer-grid{
    display:grid;
    grid-template-columns:
    1.4fr
    1fr
    1fr
    1.2fr;
    gap:40px;
}

.footer-col h3{
    font-size:24px;
    margin-bottom:20px;
    line-height:1.4;
}

.footer-col h4{
    margin-bottom:15px;
    font-size:20px;
}

.footer-subtitulo{
    margin-top:25px;
}
.footer-col a{
    display:block;
    color:white;
    text-decoration:none;
    margin-bottom:10px;
    transition:0.3s;

}

.footer-col a:hover{
    transform:translateX(5px);
}

.footer-col p{
    margin-bottom:12px;
    line-height:1.5;
}

.footer-logos{
    display:flex;
    gap:12px;
    margin-top:15px;
}

.footer-logos img{
    width:60px;
    height:auto;
}

.footer-social{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.footer-social a{
    width:40px;
    height:40px;
    background:white;
    color:#005b8f;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.footer-social a:hover{
    transform:scale(1.1);
}

.footer-bottom{
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,0.25);
    text-align:center;
    font-size:14px;
}

/* RESPONSIVE */
@media(max-width:768px){

    .topbar{
        flex-direction:column;
        gap:20px;
    }

    nav{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content h2{
        font-size:38px;
    }

}

/* ======================================== */
/* RESPONSIVE */
/* ======================================== */

@media(max-width: 900px){

    .contenedor-contacto{
        flex-direction: column;
    }

    .info-contacto{
        text-align: center;
    }

    .dato{
        justify-content: center;
    }

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

/* HEADER */

.topbar{
    background:transparent;
    padding:15px 5%;
    color:white;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
}

.logo h1{
    font-size:32px;
}

nav{
    margin-top:20px;
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    padding:10px 15px;
    border-radius:5px;
    transition:0.3s;
}

nav a:hover,
.active{
    background:white;
    color:#0086c7;
}

/* TITULO */

.titulo{
    text-align:center;
    padding:50px 20px;
}

.titulo h2{
    color:#0086c7;
    font-size:40px;
}

/* TABLAS */

.tabla-section{
    width:90%;
    margin:40px auto;
}

.tabla-section h3{
    text-align:center;
    margin-bottom:20px;
    font-size:30px;
    color:#222;
}

.tabla-container{
    overflow-x:auto;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

thead{
    background:#005cb3;
    color:white;
}

th, td{
    padding:15px;
    border:1px solid #ddd;
    text-align:center;
}

td a{
    text-decoration:none;
    color:#d60000;
    font-weight:bold;
}

.proceso{
    color:#ff8800;
    font-weight:bold;
}

.finalizado{
    color:green;
    font-weight:bold;
}

/* RESPONSIVE */

@media(max-width:768px){

    .logo{
        flex-direction:column;
        text-align:center;
    }

    .logo h1{
        font-size:24px;
    }

    nav{
        justify-content:center;
    }

    .titulo h2{
        font-size:28px;
    }

}

/* ========================= */
/* TRANSICION ENTRE PAGINAS */
/* ========================= */

.transition-screen{

    position:fixed;
    inset:0;

    background:#0086c7;

    z-index:9999;

    pointer-events:none;

}

/* SALIDA */

.transition-screen.exit{
    animation:circleOut 0.5s ease-in-out forwards;
}

/* ENTRADA */
.transition-screen.enter{

    animation:circleIn 0.5s ease-in-out forwards;
}

/* ANIMACION SALIDA */
@keyframes circleOut{
    0%{
        clip-path:circle(0% at center);
    }
    100%{
        clip-path:circle(150% at center);
    }
}

/* ANIMACION ENTRADA */
@keyframes circleIn{
    0%{
        clip-path:circle(150% at center);
    }
    100%{
        clip-path:circle(0% at center);
    }
}

/* ===================== */
/* CARRUSEL NOTICIAS */
/* ===================== */

.news{
    padding:80px 20px;
    background:#f4f7fb;
    text-align:center;
}

.news h2{
    font-size:42px;
    color:#0077b6;
    margin-bottom:50px;
}

/* ===================== */
/* FONDO DINAMICO */
/* ===================== */

.news{
    position:relative;
    overflow:hidden;
}

.carousel-background{
    position:absolute;
    inset:0;
    background-size:cover;
    background-position:center;
    filter:blur(3px);
    transform:scale(1.1);
    opacity:0.45;
    transition:0.7s;
    z-index:0;
}

/* OSCURECER */

.news::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(255,255,255,0.45);
    z-index:1;
}

/* CONTENIDO ENCIMA */

.news h2,
.carousel-container{
    position:relative;
    z-index:2;
}

.carousel-container{
    position:relative;
    width:100%;
    max-width:1100px;
    margin:auto;
    overflow:hidden;
}

.carousel{
    position:relative;
    height:500px;
}

.news-card{
    position:absolute;
    width:70%;
    left:50%;
    top:50%;
    transform:
    translate(-50%, -50%)
    scale(0.8);
    opacity:0;
    transition:0.6s;
    background:white;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

.news-card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.news-info{
    padding:25px;
}

.news-info h3{
    color:#0077b6;
    margin-bottom:15px;
    font-size:28px;
}

.news-info p{
    color:#555;
    line-height:1.6;
}

/* CARD ACTIVA */

.news-card.active{
    opacity:1;
    z-index:3;
    transform:
    translate(-50%, -50%)
    scale(1);
}

/* CARD IZQUIERDA */

.news-card.prev{
    opacity:0.5;
    z-index:2;
    transform:
    translate(-80%, -50%)
    scale(0.85);
}

/* CARD DERECHA */

.news-card.next{
    opacity:0.5;
    z-index:2;
    transform:
    translate(-20%, -50%)
    scale(0.85);
}

/* BOTONES */

.carousel-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:#0077b6;
    color:white;
    border:none;
    width:55px;
    height:55px;
    border-radius:50%;
    cursor:pointer;
    font-size:24px;
    z-index:5;
    transition:0.3s;
}

.carousel-btn:hover{
    background:#023e8a;
    transform:
    translateY(-50%)
    scale(1.1);
}

.prev{
    left:10px;
}

.next{
    right:10px;
}

/* RESPONSIVE */

@media(max-width:768px){
    .news-card{
        width:90%;
    }
    .news-info h3{
        font-size:22px;
    }
}

.news-card{
    cursor:pointer;
}

.btn-login{
    background:#00a6ff;
    color:white !important;
    padding:10px 18px;
    border-radius:8px;
    transition:0.3s;
}

.btn-login:hover{
    background:#0077b6;
    transform:translateY(-2px);
}